All Jobs for <strong><%= @company.name %></strong>
<%= link_to "Create new job", new_company_job_path %>

<ul>
  <% @jobs.each do |job| %>
  <li>
    <%= link_to job.title, company_job_path(@company, job.id) %>
  </li>
  <% end %>
</ul>