@import "variables";

body {
  font-family     : $playfair;
}

.header {
  background-color: $black-pearl;
  position: fixed;
  display: flex;
  align-items: baseline;
  z-index: 50;
  justify-content: space-between;
  width: 100%;
  h3 {
    text-decoration : none;
    font-size: 2.5em;
    padding: 15px;
    color: $whitish;
    span {
      color: $desaturated;
      font-weight: $ultra-bold;
    }
  }
  ul {
    display: flex;
  }
  a, li {
    text-decoration : none;
    margin          : 5px;
    padding         : 5px;
    font-size: 1.2em;
    color: $whitish;
    outline         : none;
  }
  a:hover {
    color: $desaturated;
    text-decoration: underline;
  }
}

.container {
  position: relative;
  top: 70px;
  width           : 100%;
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  align-items     : center;
  font-family     : $playfair;
  color           : $black-pearl;

  h3, th {
    text-align  : center;
    font-weight : $ultra-bold;
    font-size   : 2em;
    margin      : 30px;
    span {
      font-weight: 400;
    }
  }
  table {
    width: 100%;
    td {
      text-align: center;
      padding: 5px;
    }
  }

  h2 {
    font-size: 1.4em;
    margin: 4px;
  }

  p {
    margin: 5px;
  }

  a {
    text-decoration : none;
    margin          : 5px;
    padding         : 5px;
    outline         : none;
    color           : inherit;
  }

  a:hover {
    color           : $cyan;
    cursor          : pointer;
    text-decoration : underline;
  }

  .companies {
    display         : flex;
    justify-content : center;
    flex-direction  : column;
    text-align      : center;
    align-items     : center;
    border          : 1px solid black;
    width           : 50%;
    margin          : 5px;

    .coolstuff {
      font-weight: $bold;
    }
  }

  .form-container {
    display         : flex;
    width           : 800px;
    margin          : auto;
    align-items     : center;
    justify-content : center;
    color: $whitish;
  }

  form {
    display         : flex;
    justify-content : space-around;
    text-align      : center;
    flex-direction  : column;
    padding         : 5px;
    width           : 75%;
  }

  input, select {
    box-sizing      : border-box;
    margin          : 0 0 15px;
    outline         : 0;
    font-size       : 14px;
    width           : 100%;
    margin-top      : 4px;
    padding         : 15px;
    color           : white;
    border          : 1px solid white;
    background      : #22313F;
    text-transform  : uppercase;
    font-size       : 14px;
    text-align      : center;
    text-align-last: center;
  }

  .form input:active,
  .form input:focus,
  .form input:hover {
    color: #22313F;
    background: white;
  }

  .form {
    z-index         : 1;
    display         : flex;
    position        : relative;
    width           : 100%;
    padding         : 45px;
    background      : #22313F;
    text-align      : center;
    align-items     : center;
    flex-direction  : column;
  }
}