@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

$black-pearl: #010812;
$regal-blue : #0b212f;
$cyan       : #44586a;
$desaturated: #a2b4c3;
$whitish    : #cdd4db;


$playfair   : 'Playfair Display', serif;
$bold       : 700;
$ultra-bold : 900;